.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}
.intro__wooz {
  margin-bottom: 2rem;
}
.intro__title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10rem;
}
.intro__persons {
  width: 70%;
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.wooz__minobr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.wooz__minobr--image {
  width: 100px;
}
.wooz__minobr--name {
  text-transform: uppercase;
}
.wooz__fgbou {
  text-align: center;
}
.wooz__name {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
.si {
  border-collapse: collapse;
  max-width: 100%;
}
.si td {
  padding: 2px 4px;
  border: 1px solid rgba(131,131,131,0.767);
}
.si__head {
  font-weight: bold;
}
.si__item--letter {
  font-size: 16px;
  font-weight: 600;
  width: 150px;
}
.si__item--letter > sub {
  font-size: 11px;
  font-weight: 400;
}
.si__item--is > sup {
  position: relative;
  top: -1px;
  font-size: 11px;
}
.si__item--default {
  text-align: center;
}
.input__group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.input__subtitle {
  font-weight: 600;
  margin-bottom: 1rem;
}
.input__wrapper {
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 25px;
  cursor: pointer;
}
.input__property {
  width: 20px;
  margin-right: 10px;
}
.input__input {
  padding: 6px 14px;
  border: 1px solid #838383;
  border-radius: 6px;
  font-size: 14px;
  transition-property: border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.input__input:hover,
.input__input:focus {
  border-color: #add8e6;
}
.result__wrapper,
.result__charts {
  transition-property: max-height, opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}
.result__heading {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5rem;
  font-size: 20px;
  text-transform: capitalize;
}
.result__subheading {
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: bold;
}
.result__description {
  margin-bottom: 1rem;
}
.result__si,
.result__inputs,
.result__button,
.result__results {
  margin-bottom: 5rem;
}
.result__button {
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 8px;
  background-color: #00f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition-property: transform, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.result__button:hover {
  transform: scale(1.1);
  background-color: #6a50ff;
}
.chart__wrapper {
  margin-bottom: 4rem;
}
.page {
  padding: 30px 0;
}
